
    html {
            scroll-behavior: smooth;
    }

    body {
            font-family: "Comic Sans MS", cursive, sans-serif;
            background-image: url('images/cherry_tree.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    h1 {
            text-align: center;

        }

    h3 {
            color: gray;
            text-align: center;
        }
        
    * {
            cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur242.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur242.png), auto !important;
        }

    .box1 {
            border-style: solid;
            border-color: white;
            width: 1000px;
            height: 500px;
            border-collapse: collapse;
            background-color: #ffb7c5;
            margin: 0 auto;
        }

    .box2 {
            border-style: solid;
            border-color: white;
            width: 1000px;
            height: 500px;
            border-collapse: collapse;
            background-color: #ffb7c5;
            margin: 0 auto;
            margin-top: 50px;
        }

    .header {
            border-style: solid;
            border-color: white;
            height: 50px;
        }

    td {
            text-align: left;
            vertical-align: top;
            background-color: #ffd1dc;
        }

    .navbar {
        overflow: hidden;
        background-color: #add8e6;
        position: fixed;
        top: 0;
        width: 100%;
        display: inline-block;
        text-align: center;
        list-style: none;
        margin-left: 0px;
    }

    .navbar li {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: underline white dotted;
        transition: color 0.5s ease-out;
        display: inline-block;
    }

    .navbar li:hover {
        color: #ffb7c5;
    }

